
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@100;200;300;500;700;900&display=swap');
html{

    --note-size: 300px;
    background: linear-gradient(to right, #292E49, #536976);

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 100px 10%;
    h1{
        color: rgba(255, 255, 255, 0.316);
        font-size: 200px;
        font-weight: 200;
        position: absolute;
        bottom: 50px;
        right: 50px;
        pointer-events: none;
        display: none;
    }
}




.post-it{
    position: relative;
    font-size: 24px;
    .notes{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .create{
            position: relative;
            width: var(--note-size);
            height: var(--note-size);
            background: rgba(255, 255, 255, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 80px;
                color: #fff;
                text-align: center;
            }
            textarea{
                font-size: 20px;
                padding: 20px;
                outline: none;
                resize: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
            }
        }
        .note{
            width: var(--note-size);
            height: var(--note-size);
            font-family: 'Indie Flower';
            font-weight: 400;
            background: #FFEB3B;
            padding: 20px;
            position: relative;
            user-select: none;
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
            i{
                font-size: 16px;
                padding: 10px;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                content: '';
                text-align: center;
                background: #292e4932;
                opacity: 0;
                transition: .5s;
                color: #292E49;
            }
            &:hover{
                i{
                    opacity: 1;
                }
            }
        }
    }
}